body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.ejercicio {   /* borde separacion de ejercicios */
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
}

h2 {
    color: #2c3e50;
    margin-top: 0;
}


/* botones ejercicios */

button {  
    background-color: #8aa2b1;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color: #1e2021;
}


#contador {
    font-size: 1.5em;
    margin: 10px 0;
    padding: 10px;
    background-color: #dee2e6;
    display: inline-block;
    min-width: 50px;
    text-align: center;
}

